@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 32.56% 41.32%;
      --foreground: 200 27% 100%;
      --muted: 200 17% 6%;
      --muted-foreground: 200 11% 63%;
      --popover: 200 39% 3%;
      --popover-foreground: 200 27% 100%;
      --card: 200 38.59% 11.21%;
      --card-foreground: 0 0% 100%;
      --border: 200 3% 12%;
      --input: 200 3% 12%;
      --primary: 141.43 75.83% 47.06%;
      --primary-foreground: 0 0% 0%;
      --secondary: 200 4% 17%;
      --secondary-foreground: 200 4% 77%;
      --accent: 200 14% 26%;
      --accent-foreground: 200 14% 86%;
      --destructive: 2.71 81.56% 43.39%;
      --destructive-foreground: 0 0% 100%;
      --ring: 200 23% 52%;
    
      --radius: 0.5rem;
    }

  	@layer base {
  	  * {
  	    @apply border-border;
  	  }
    		body {
      @apply bg-background text-foreground;
      }
  	}
}
